body{background-image:url('background_1.jpg');}
h2{color:red;}
section{background:lightgreen;}
section{border:4px dotted green}
section#box1{margin-top:15px}
section#box1{padding-left:5px}
section#box2{margin-top:15px}
section#box2{padding-left:5px}
section#box3{margin-top:15px}
section#box3{padding-left:5px}
p{color:orange;}
