body{background-image:url('background_1.jpg');}
h1{color:red;}
li{color:violet;}
section{background:lightgreen;}
section{border:4px dotted green}
section{padding:15px}
section{margin:20px}
p{color:orange;}
